streamlit
pandas
numpy
newspaper4k
feedparser
psycopg2-binary
lxml
html5lib
beautifulsoup4
plotly
googlenewsdecoder
streamlit-plotly-events
nltk
requests
Pillow
kaleido
google-genai
fpdf2
matplotlib
seaborn
lxml
pysqlcipher3
supabase
scikit-learn
